#title1{
    -fx-font-size: 30;
    -fx-alignment:center;

}
.button{
    -fx-background-color: transparent;
    -fx-graphic: url('Images/smallerButton.png');
}

#mainPane{
    -fx-background-size: 100%;
    -fx-background-image: url('Images/Background_MainScene.png');
}
#chooseTest{
    -fx-background-size: 100%;
    -fx-background-image: url('Images/startingSceneBackground.png');
}

#graphPane{
    -fx-background-size: 100%;
    -fx-background-image: url('Images/Results.png');
}


