#title1{
    -fx-font-size: 30;
    -fx-alignment:center;

}
.button{
    -fx-background-color: transparent;
    -fx-graphic: url('Images/smallButton.png');
}
.info{
    -fx-background-color: transparent;
    -fx-graphic: url('Images/system_info.png');
}
#systemPane{
    -fx-background-image: url('Images/background.png');
    -fx-background-size: 100%;
}
